@using Highcharts4Net
@using Highcharts4Net.Library.Helpers
@using Highcharts4Net.Library.Options
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Area charts » Area with negative values";
}

@Html.Highcharts4Net().AreaChart(settings =>
{
    settings.SetTitle(s => s.Text = "Area chart with negative values");

    settings.SetSubtitle(s=>s.Text = "Source: <a href=\"http://thebulletin.metapress.com/content/c4120650912x74k7/fulltext.pdf\">thebulletin.metapress.com</a>"
    );

    settings.AddXAxis(s=>
    {
        s.Categories = new[]
        {
            "Apples", "Oranges", "Pears", "Grapes", "Bananas"
        };
    });

    settings.SetCredits(s=>s.Enabled = false);

    settings.AddSeries(s =>
    {
        s.Name = "John";
        s.Data = new Data(new NumberOrDateTime?[]
        {
                5,3,4,7,2
        });
    });
    settings.AddSeries(s =>
    {
        s.Name = "Jane";
        s.Data = new Data(new NumberOrDateTime?[]
        {
                2,-2,-3,2,1
        });
    });
    settings.AddSeries(s =>
    {
        s.Name = "Joe";
        s.Data = new Data(new NumberOrDateTime?[]
        {
            3,4,4,-2,5
        });
    });
}).Render()

@section source_code{
@@Html.Highcharts4Net().AreaChart(settings =>
{
    settings.SetTitle(s => s.Text = "Area chart with negative values");

    settings.SetSubtitle(s=>s.Text = "Source: &lt;a href=\"http://thebulletin.metapress.com/content/c4120650912x74k7/fulltext.pdf\">thebulletin.metapress.com&lt;/a>"
    );

    settings.AddXAxis(s=>
    {
        s.Categories = new[]
        {
            "Apples", "Oranges", "Pears", "Grapes", "Bananas"
        };
    });

    settings.SetCredits(s=>s.Enabled = false);

    settings.AddSeries(s =>
    {
        s.Name = "John";
        s.Data = new Data(new NumberOrDateTime?[]
        {
                5,3,4,7,2
        });
    });
    settings.AddSeries(s =>
    {
        s.Name = "Jane";
        s.Data = new Data(new NumberOrDateTime?[]
        {
                2,-2,-3,2,1
        });
    });
    settings.AddSeries(s =>
    {
        s.Name = "Joe";
        s.Data = new Data(new NumberOrDateTime?[]
        {
            3,4,4,-2,5
        });
    });
}).Render()
}