@using System.Drawing
@using Highcharts4Net
@using Highcharts4Net.Library.Enums
@using Highcharts4Net.Library.Helpers
@using Highcharts4Net.Library.Options
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Percentage AreaChart";
}

@Html.Highcharts4Net().AreaChart(settings =>
{
    settings.Title = new Title
    {
        Text = "Historic and Estimated Worldwide Population Distribution by Region"
    };

    settings.Subtitle = new Subtitle
    {
        Text = "Source: Wikipedia.org"
    };

    settings.XAxis = new XAxis
    {
        Categories = new[]
        {
            "1750", "1800", "1850", "1900", "1950", "1999", "2050"
        },
        TickmarkPlacement = Placement.On,
        Title = new XAxisTitle
        {
            Enabled = false
        }
    };
    settings.YAxis = new YAxis
    {
        Title = new YAxisTitle
        {
            Text = "Percent"
        }
    };

    settings.Tooltip = new Tooltip
    {
        Shared = true,
        PointFormat = "<span style=\"color:{series.color}\">{series.name}</span>: <b>{point.percentage:.1f}%</b> ({point.y:,.0f} millions)<br/>"
    };

    settings.PlotOptions = new PlotOptions
    {
        Area = new PlotOptionsArea
        {
            Stacking = Stackings.Percent,
            LineColor = Color.FromArgb(100, 255, 255, 255).ToHexString(),
            LineWidth = 1,
            Marker = new PlotOptionsAreaMarker
            {
                LineWidth = 1,
                LineColor = Color.FromArgb(100, 255, 255, 255).ToHexString()
            }
        }
    };

    settings.Series = new[]
    {
        new Series
        {
            Name = "Asia",
            Data = new Data(new object[]
            {
                502,635,809,947,1402,3634,5268
            })
        },
        new Series
        {
            Name = "Africa",
            Data = new Data(new object[]
            {
                106,107,111,133,221,767,1766
            })
        },
        new Series
        {
            Name = "Europe",
            Data = new Data(new object[]
            {
                163,203,276,408,547,729,628
            })
        },
        new Series
        {
            Name = "America",
            Data = new Data(new object[]
            {
                18,31,54,156,339,818,1201
            })
        },
        new Series
        {
            Name = "Oceania",
            Data = new Data(new object[]
            {
                2,2,2,6,13,30,46
            })
        }
    };
}).Render()

@section source_code{
@@Html.Highcharts4Net().AreaChart(settings =>
{
    settings.Title = new Title
    {
        Text = "Historic and Estimated Worldwide Population Distribution by Region"
    };

    settings.Subtitle = new Subtitle
    {
        Text = "Source: Wikipedia.org"
    };

    settings.XAxis = new XAxis
    {
        Categories = new[]
        {
            "1750", "1800", "1850", "1900", "1950", "1999", "2050"
        },
        TickmarkPlacement = Placement.On,
        Title = new XAxisTitle
        {
            Enabled = false
        }
    };
    settings.YAxis = new YAxis
    {
        Title = new YAxisTitle
        {
            Text = "Percent"
        }
    };

    settings.Tooltip = new Tooltip
    {
        Shared = true,
        PointFormat = "&lt;span style=\"color:{series.color}\">{series.name}&lt;/span>: &lt;b>{point.percentage:.1f}%&lt;/b> ({point.y:,.0f} millions)&lt;br />"
    };

    settings.PlotOptions = new PlotOptions
    {
        Area = new PlotOptionsArea
        {
            Stacking = Stackings.Percent,
            LineColor = Color.FromArgb(100, 255, 255, 255).ToHexString(),
            LineWidth = 1,
            Marker = new PlotOptionsAreaMarker
            {
                LineWidth = 1,
                LineColor = Color.FromArgb(100, 255, 255, 255).ToHexString()
            }
        }
    };

    settings.Series = new[]
    {
        new Series
        {
            Name = "Asia",
            Data = new Data(new object[]
            {
                502,635,809,947,1402,3634,5268
            })
        },
        new Series
        {
            Name = "Africa",
            Data = new Data(new object[]
            {
                106,107,111,133,221,767,1766
            })
        },
        new Series
        {
            Name = "Europe",
            Data = new Data(new object[]
            {
                163,203,276,408,547,729,628
            })
        },
        new Series
        {
            Name = "America",
            Data = new Data(new object[]
            {
                18,31,54,156,339,818,1201
            })
        },
        new Series
        {
            Name = "Oceania",
            Data = new Data(new object[]
            {
                2,2,2,6,13,30,46
            })
        }
    };
}).Render()
}